.card-container{
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 50vh;
    margin: 20px; 
}

.event-img {
    padding: 25px;
}

.event-img{
    width: 100%;
}

.event-headers{
    text-align: center;
}
    
.event-headers h3{
    font-size: 20px;
    padding: 20px;
}

.event-headers p{
    font-size: 15px;
}
.event-des h5{
    font-size: small;

}

.event-des p{
font-size: small;
}

.event-info p{
    font-size: small;
}

.logged-out{
    padding: 200px 100px;
    text-align: center;
}


  /* responsive for mobile screens */
  @media only screen and (min-width: 375px) and (max-width: 667px){
    .card-container{
        height: 90vh;
    }
    .event-headers h3{
        font-size: 15px;
    }
    
    .event-headers p{
        font-size: 10px;
    }

    .event-des h5{
        font-size: 10px;
    
    }
    
    .event-des p{
    font-size: 8px;
    }

    .event-info p{
        font-size: 8px;
    }
    
    .logged-out{
        padding: 100px 50px;
        text-align: center;
    }
  }
   
   /* responsive for tablet sizes */
   @media (min-device-width: 668px) and (max-device-width: 1280px){
    .card-container{
        height: 100vh;
    }
    .event-headers h3{
        font-size: 25px;
    }
   .event-headers p{
        font-size: 20px;
    }
  }